{% extends 'base.html' %}

{% block title %}
    Rates
{% endblock title %}

{% block content %}
    <a href="{% url 'currency:rate-create' %}">Create</a><br>
    {% for rate in object_list %}
        ID: {{ rate.id }}
        Buy: {{ rate.buy }}
        Sell: {{ rate.sell }}
        Currency: {{ rate.get_currency_display }}
        <a href="{% url 'currency:rate-update' rate.id %}">Update</a>
        <a href="{% url 'currency:rate-delete' rate.id %}">Delete</a>
        <a href="{% url 'currency:rate-details' rate.id %}">Details</a>
        <br>
    {% endfor %}
{% endblock content %}
